ion-header {
    background-color: #003A70;
}
ion-header {
    left: 0;
    top: 0;
    position: absolute;
    z-index: 10;
    display: block;
    width: 100%;
}
.logo-wrapper-product {
    width: 100%;
    min-height: 0px;
    height: 40px;
    padding: 3px 5px;
}
.back-button.show-back-button {
    display: inline-block;
}
.bar-button-default-ios,  .bar-button-default-md {
    color: #ffffff;
}
.back-button {
    position: absolute !important;
    z-index: 5;
    height: 30px;
    width: 100px;
}
.toolbar-content-md {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    min-width: 0;
    max-width: 100%;
}
.prodimg{
    float: right !important;
}
mutual-header h1 {
    margin: 0;
    color: #5D5D5D;
    padding: 5px 0;
}
.toolbar-md {
    padding: 4px;
    min-height: 56px;
    text-align: center !important;
}
.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: #105fa8;
    background-color: #105fa8;
    color: #ffffff;
}

.segment-de-activated {
    color:#003A70;
}

.segment-activated {
    border-color: #105fa8;
    background-color: #105fa8;
    color: #ffffff;
}
.bar-button-default-ios, mutual-header .bar-button-default-md {
    color: #ffffff;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #424242;
    background-color: transparent;
  }

