

  <ion-header class="header header-md">
    <mutual-header ng-reflect-product-name="Children's Whole Life">
<div no-border="" class="">
    <ion-navbar class="logo-wrapper-product grid toolbar toolbar-md" ion-grid="" tid="headerBar"><div class="toolbar-background toolbar-background-md" ng-reflect-klass="toolbar-background" ng-reflect-ng-class="toolbar-background-md"></div>

      <button (click)="backButtonClick()" class="back-button bar-button bar-button-md back-button-md bar-button-default bar-button-default-md show-back-button" ion-button="bar-button" ng-reflect-klass="back-button" ng-reflect-ng-class="back-button-md"><span class="button-inner"><ion-icon class="back-button-icon icon icon-md back-button-icon-md ion-md-arrow-back" role="img" ng-reflect-klass="back-button-icon" ng-reflect-ng-class="back-button-icon-md" aria-label="arrow back" ng-reflect-name="md-arrow-back"></ion-icon><span class="back-button-text back-button-text-md" ng-reflect-klass="back-button-text" ng-reflect-ng-class="back-button-text-md">Home</span></span><div class="button-effect">
      </div></button>

      <div class="toolbar-content toolbar-content-md" ng-reflect-klass="toolbar-content" ng-reflect-ng-class="toolbar-content-md">
        <img class="prodimg" float-right="" height="32" src="assets/imgs/mutual-brand-white.svg">
    </div>
  </ion-navbar>
    <ion-toolbar class="toolbar-border toolbar toolbar-md" no-border="" text-center=""><div class="toolbar-background toolbar-background-md" ng-reflect-klass="toolbar-background" ng-reflect-ng-class="toolbar-background-md"></div><div class="toolbar-content toolbar-content-md" ng-reflect-klass="toolbar-content" ng-reflect-ng-class="toolbar-content-md">
        <h1 tid="Children's Whole Life">{{selectedProduct.product_name}}</h1>
    </div></ion-toolbar>
</div>
</mutual-header>
</ion-header>

<ion-content padding class="content content-md">
      <div class="fixed-content" style="margin-top: 126px;"></div>
      <div class="scroll-content" style="margin-top: 96px;">
    <form [formGroup]="myForm" (ngSubmit)="submitForm()">
      <ion-segment *ngIf="advancedForm.formTypes.length>1">
        <ion-segment-button *ngFor="let formType of advancedForm.formTypes"
        (click)="selectSection(formType.sections)"
        [ngClass]="formType.status ? 'segment-activated' : 'segment-de-activated'">{{formType.name}}</ion-segment-button>
      </ion-segment>
      <div *ngIf="sections?.length > 0">
        <div *ngFor="let section of sections">
          <ion-row class="section-title row">
            <h2>{{section.sectionName}}</h2>
          </ion-row>
          <ion-row class="row" justify-content-between>
            <ion-col class="col-padding col-md-6" col-12 col-md-6>
              <ion-item *ngFor="let field of section.fields">
                <div class="item-inner">
                  <div class="input-wrapper">
                    <ion-label floating class="label label-md">
                      {{field.label}}
                    </ion-label>
                    <div [ngSwitch]="field.type">
                      <ion-textarea *ngSwitchCase="'input'" [formControlName]="field.key"></ion-textarea>
                      <ion-toggle *ngSwitchCase="'boolean'" [formControlName]="field.key"></ion-toggle>
                      <ion-checkbox *ngSwitchCase="'checkbox'" [formControlName]="field.key"></ion-checkbox>
                      <ion-select interface="popover" *ngSwitchCase="'select'" [formControlName]="field.key" >
                        <div class="select-placeholder select-text"></div>
                        <ion-select-option *ngFor="let op of field.options">{{op}}</ion-select-option>
                      </ion-select>
                    </div>
                  </div>
                </div>  
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
      </div>
      

      <ion-button type="submit">Submit</ion-button>

    </form>
  </div>
  </ion-content>

