ion-header {
    background-color: #003A70;
}
ion-header {
    left: 0;
    top: 0;
    position: absolute;
    z-index: 10;
    display: block;
    width: 100%;
}
.logoimage{
    float: right !important;
}
.header-bar .bar-button-default-md {
    margin-top: 10px;
    margin-left: 5px;
    text-transform: none;
    font-size: 1.0rem;
}
.bar-button::after {
    left: -2px;
    right: -2px;
    top: -7px;
    bottom: -6px;
    position: absolute;
    content: "";
}
ion-app.md [padding] {
    padding: 16px;
}

.ion-page > ion-content {
    position: absolute;
}
.content-md {
    color: #000;
    background-color: #fff;
}
h1 {
    padding-left: 10px;
    color: #5D5D5D;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center !important;
}
h2 {
    padding-top: 10px;
    padding-left: 10px;
    color: #007e8a;
    font-weight: 500;
    line-height: 1.2;
}
.summary-label {
    font-weight: 600;
    color: #444444;
}
.summary-value {
    text-align: right;
    text-transform: capitalize;
}
ion-app.md [padding-top] {
    padding-top: 16px;
}
.card-headers {
    font-size: 1rem;
    padding-left: 16px;
    color: #444444;
}
.button-md, .button-ios {
    text-transform: none;
    height: 4.4rem;
    font-size: 1.0rem;
    font-weight: 600;
    //padding: 1.2rem 2.4rem;
    border-radius: 6px !important;
    background-color: #105fa8;
    color: #fff;
}
.button {
    margin: 10px 0;
}
.button-block {
    display: block;
    clear: both;
    width: 28%;
    contain: strict;
    margin-left: 200px;
    height: 35px;
    margin-top: 50px;
}
ion-accordion .row {
    padding: 12px;
    border-bottom: 1px solid #c8c7cc;
    font-size: 1.0rem;
    color: #5D5D5D;
}

.summary-label {
    font-weight: 600;
    color: #444444;
}
.summary-value {
    text-align: right;
    text-transform: capitalize;
}
.col {
    padding: 5px;
    position: relative;
    width: 100%;
    margin: 0;
    min-height: 1px;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.grid {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.card {
    margin-top: 0;
    -o-border-image: linear-gradient(to right, #105fa8 0, #03a0ad 100%);
    border-image: -webkit-gradient(linear, left top, right top, color-stop(0, #105fa8), to(#03a0ad));
    border-image: linear-gradient(to right, #105fa8 0, #03a0ad 100%);
    border-image-slice: 1;
    border-top-width: 5px;
    border-top-style: solid;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}
.header-bar .bar-button-default-md{
    margin-top: 2px;
    margin-left: 12px;
    text-transform: none;
    font-size: 1rem;
    height: 28px;
    width: 100px;
}
