<!-- <div class="ion-page" (click)="dismiss()">Ion page</div> -->
<ion-header class="header-bar header header-md">
  <ion-navbar class="navbar-padding toolbar toolbar-md"><div class="toolbar-background toolbar-background-md" ng-reflect-klass="toolbar-background" ng-reflect-ng-class="toolbar-background-md"></div>
    <div class="toolbar-content toolbar-content-md" ng-reflect-klass="toolbar-content" ng-reflect-ng-class="toolbar-content-md">
      
          <button (click)="dismiss()" ion-button="" class="bar-button bar-button-md bar-button-default bar-button-default-md" tid="closeSummaryModal"><span class="button-inner">Close</span><div class="button-effect"></div></button>
      
      <img class="logoimage" float-right="" height="32" src="assets/imgs/mutual-brand-white.svg">
  </div></ion-navbar>
</ion-header>

<ion-content class="summary-modal content content-md" padding="" tid="summary"><div class="fixed-content" style="margin-top: 56px;"></div><div class="scroll-content" style="margin-top: 56px;">
  <h1 margin-bottom="" text-center="" tid="summaryModalTitle">Children's Whole Life</h1>
  <h2>Summary</h2>
  <ion-card margin-top="" class="card card-md">
      <ion-grid class="grid">
          <ion-row class="row">
              <ion-col class="summary-label col" col-6="">Face Amount</ion-col>
              <ion-col class="summary-value col" tid="calculatedFaceAmount">$11,278.20</ion-col>
          </ion-row>
      </ion-grid>
  </ion-card>

<ion-accordion-group value="numbers">
  <ion-accordion value="Form Information">
    <ion-item slot="header">
      <ion-label>Form Information</ion-label>
    </ion-item>

    <ion-list slot="content">
      <ion-item  class="card card-md">
        <ion-grid class="grid">
          <ion-row class="row">
              <ion-col class="summary-label col" col-6="">State</ion-col>
              <ion-col class="summary-value col" tid="formState">Alabama</ion-col>
          </ion-row>
          <ion-row class="row">
              <ion-col class="summary-label col" col-6="">Age</ion-col>
              <ion-col class="summary-value col" tid="formAge">5</ion-col>
          </ion-row>
         <ion-row class="row">
              <ion-col class="summary-label col" col-6="">Desired Payment</ion-col>
              <ion-col class="summary-value col" tid="formDesiredPayment">$4</ion-col>
          </ion-row>
          <ion-row class="row">
              <ion-col class="summary-label col" col-6="">Payment Mode</ion-col>
              <ion-col class="summary-value col" tid="formPaymentMode">Monthly BSP</ion-col>
          </ion-row>
      </ion-grid>
      </ion-item>
      
    </ion-list>
  </ion-accordion>
</ion-accordion-group>
  <ion-row class="row" justify-content-center="">
      <ion-col class="col" col-12="" col-md-3="">
          <button (click)="backButtonClick()" block="" ion-button="" ng-reflect-block="" class="button button-md button-default button-default-md button-block button-block-md" tid="newQuoteButton"><span class="button-inner">
              Start a New Quote
          </span><div class="button-effect"></div></button>
      </ion-col>
  </ion-row>

</div></ion-content>