#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}


.product {
  color: #105fa8;
  //padding-left: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 1rem;
  //font-family: "Source Sans Pro", "sans-serif";

}


.header-color {
    background-color: #003A70;
    border: none;
    padding: 3px;
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.footer {
  background-color: #E5E5E5;
  width: 100%;
  position: relative;
  
}
.start-quote {
  color: #5D5D5D;
  padding: 0;
}
.menu-link-button.button {
  border: none;
  font-size: 1.0rem;
  text-transform: none;
  font-weight: 700;
  padding: 0 5px 0;
  margin: 10px 0;
}
.button-outline-md, .button-outline-ios {
  border-width: 1px !important;
}
.col {
  padding: 5px;
  position: relative;
  width: 100%;
  margin: 0;
  min-height: 1px;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
[text-right] {
  text-align: right !important;
}
h1 {
  margin-top: 20px;
  font-size: 26px;
}
.button-outline-md {
  border-width: 1px;
  border-style: solid;
  border-color: #105fa8;
  color: #105fa8;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.title .toolbar-title-ios,  .title .toolbar-title-md {
  color: #105fa8;
  text-align: left;
  font-family: 'Source Sans Pro Light';
  font-weight: 100;
  padding: 0;
  font-size: 1.6rem;
}
.toolbar-title {
  display: block;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.title .toolbar-title-md {
  color: rgb(16, 95, 168);
  text-align: left;
  font-family: "Source Sans Pro Light";
  font-weight: 100;
  padding: 0px;
  font-size: 1.8rem;
}
