<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <img height="32" src="assets\imgs\mutual-brand-white.svg" alt="" />
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="title-wrapper grid toolbar toolbar-md" ion-grid="">
    <div class="toolbar-background toolbar-background-md">
    </div>
    <div class="toolbar-content toolbar-content-md">
      <ion-row align-items-center="" class="row">
        <ion-title
          class="title col title-md"
          col-10=""
          ion-col=""
          no-padding=""
          text-left=""
          tid="landingTitle">
          <div class="toolbar-title toolbar-title-md">
            Quotes For Sales Professionals
          </div>
        </ion-title>
        <ion-col class="col" no-padding="" text-right="">
          <button
            class="menu-link-button button button-md button-outline button-outline-md button-small button-small-md"
            ion-button=""
            outline=""
            small=""
            tid="menuButton">
            <span class="button-inner">Menu</span>
            <div class="button-effect"></div>
          </button>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-grid class="grid" padding-bottom="" padding-left="" padding-right="">
      <ion-row align-items-center="" class="row" no-padding="">
        <ion-col class="col" col-auto="" no-padding="" text-left="">
          <h1 class="start-quote" no-margin="">Start a Quote</h1>
        </ion-col>
        <ion-col class="col" no-padding="" text-right="">
          <button
            class="menu-link-button button button-md button-outline button-outline-md button-small button-small-md"
            ion-button=""
            outline=""
            small=""
            tid="homeEditButton">
            <span class="button-inner">Customize List</span>
            <div class="button-effect"></div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list class="list-padding list list-md" no-lines="" tid="productList">
      <ion-item-group ng-reflect-reorder="false" class="">
        <ion-item
          *ngFor="let type of insurance_types"
          class="item item-block item-md product"
          no-padding=""
          tid="cwl"
          detail-push="true"
          (click)="productSelect(type)">
          <div class="item-inner">
            <div class="input-wrapper">
              <ion-label class="label label-md">
                <ion-icon
                  role="img"
                  class="icon icon-md ion-md-eye item-icon"
                  aria-label="eye"
                  hidden="">
                </ion-icon>{{ type.product_name }}
              </ion-label>
            </div>
            <ion-reorder>
              <ion-icon
                name="reorder"
                role="img"
                class="icon icon-md ion-md-reorder"
                aria-label="reorder"
                ng-reflect-name="reorder">
              </ion-icon>
            </ion-reorder>
          </div>
          <div class="button-effect"></div
        ></ion-item>
      </ion-item-group>
    </ion-list>
  </ion-grid>

  <ion-footer
    class="grid footer-md footer"
    ion-grid=""
    padding=""
    ng-reflect-ng-class="[object Object]"
    tid="footer">
    <ion-row class="row" justify-content-between="">
      <ion-col class="col" col-12="" col-md-4="">
        <p>*Internet Connection Required</p>
        <p>For producer use only. Not for use with the general public.</p>
      </ion-col>
      <ion-col class="col" col-12="" col-md-4="">
        <p tid="footerVersion" no-margin="">Version: 3.6.6-R</p>
      </ion-col>
      <ion-col class="col" col-12="" col-md-4="">
        <p>
          © 2022 Mutual of Omaha Insurance Company.<br />All rights reserved.
        </p>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-content>
